.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30pt;
  margin: -120px 0px;
}
.content-box {
  width: 730px;
}
@media screen and (max-width: 800px) {
  .content-box {
    width: 90%;
  }
}
