.thanks-card {
  background-color: white;
  height: 450px;
  max-width: 540px;
  padding: 50px;
  border-radius: 8px;
  border: solid 1px #0005;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
