.card {
  justify-content: center;
  text-align: center;
  position: relative;
}
.stats-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 20px 0px 20px;
}
.mastercraft {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}
