@use "./globalStyles/style";

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Commissioner", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 28px;
  line-height: 34.24px;
  font-weight: 700;
}
h2 {
  font-size: 20px;
  line-height: 24.46px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}
p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #7a7a7a;
}

@media screen and (max-width: 650px) {
  h1 {
    font-size: 20px;
    line-height: 24.46px;
  }
  h2 {
    font-size: 18px;
    line-height: 22px;
  }
  h3 {
    font-size: 16px;
    line-height: 30px;
  }
}
